@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	:root {
		--primary-color: #b9c6d2;
		--secondary-color: #d0dde9;
		--tertiary-color: #edf0f8;
		--accent-color: #ff3e00;
		--text-color: #444444;
	}

	body {
		@apply min-h-screen
	}

	#svelte {
		@apply flex flex-col
	}
}
